<!--<!DOCTYPE html>
<html>
    <head>
        <title>register</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    </head>
    <style type="text/css">
    	.style
    	{
    		margin-top:100px;
    		margin-left:470px;
    		margin-right:470px;
    		box-shadow:0px 0px 5px grey;
    		padding-top:5px;
    		border-radius:10px;
    		padding-right:80px;
    	}
    </style>
    <body>

<div class="style">
	<h4 align="center" style="color:#608BC2;padding-left:60px"><b>Sign Up</b></h5>
	</br>

	<form action="/register" method="POST">
		<div style="margin-left:20%"><label>Username</label></div>
    <input name="username" placeholder="User Name" type='text' class="form-control" required style="width:90%;margin-left:20%" required="please enter username" >
</br>
<div style="margin-left:20%">
<label>Password</label></div>
    <input name="password" placeholder="Password" type='password' class="form-control" required style="width:90%;margin-left:20%" required>
</br>
</br>
    <div align="text-center" style="margin-left:40%">

    <button class="btn btn-primary" style="width:120px">Signup</button>

</div>
</br>
    
    
</form>
</div>


</body>
</html>
-->
